<div class="row">
    <div class="col-xs-12">
        <h5>Confirmed Cases</h5>
        <div id="divConfirmedChart">
            <canvas id="confirmedChart"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Active Cases</h5>
        <div id="divActiveChart">
            <canvas id="activeChart"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Deaths</h5>
        <div id="divDeathChart">
            <canvas id="deathChart"></canvas>
        </div>
    </div>
</div>