<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name of the State</th>
                    <th>Total Confirmed Cases</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Deceased</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of statewise_data">
                    <td>{{ row.state }}</td>
                    <td>{{ row.confirmed }}</td>
                    <td>{{ row.active }}</td>
                    <td>{{ row.recovered }}</td>
                    <td>{{ row.deaths }}</td>
                </tr>
                <tr class="total">
                    <td>{{total_data.state}}</td>
                    <td>{{total_data.confirmed}}</td>
                    <td>{{total_data.active}}</td>
                    <td>{{total_data.recovered}}</td>
                    <td>{{total_data.deaths}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>